@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
/* deeppurple-amber. */

@font-face {
  font-family: Helvetica;
  src: url("/company-website/assets/normal.otf") format("opentype");
}

@font-face {
  font-family: Helvetica Thin;
  src: url("/company-website/assets/thin.otf") format("opentype");
}

@font-face {
  font-family: Helvetica Bold;
  src: url("/company-website/assets/bold.otf") format("opentype");
}

:host {
      /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
      font-family: Helvetica, Arial, sans-serif, -apple-system;
      font-size: 17px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      /*positioning: */
      /* position: absolute; */
      width: 100%;
      height: 100%;
      overflow: scroll;
      overflow-x: hidden;
      z-index: 111;

      position: absolute;
      top: 0;
      left: 0;
      right: 0
    }

    .form-complete {
      /* // Adds a shadow for elevation level 2 with color #e91e63 and 80% of the default opacity: */
      @include mat-elevation(2, #e91e63, 0.8);
    }
    .example-full-width {
      width: 100%;
    } 
    .example-section {
      flex-wrap: wrap;
      flex-direction: column;
      align-content: space-between;
      
      /* width: 500px; */
    }
   
    .example-section  {

      flex-wrap: wrap;
      flex-direction: row;
      width: 650px;
      align-content: space-between;
      justify-content: space-between;
  }

  .example-section mat-checkbox {
    padding: 6px;
  }

    .mat-form-field {
      display: inline-block;
    }
    .mat-form-field-wrapper {
      padding-bottom: 0!important;
  }
  .mat-form-field-infix {
    padding: 0 0!important;
  }
    .services-container .service-type {
      height: 100%;
      vertical-align: top;
    }
    .services-container {
      height: 15vw;
      margin-bottom: 69px;
      justify-content: space-evenly;
      display: flex;
      padding-top: 34px;
    }
    .service-type img {
      width: 100%;
      max-width: 13vh;
      max-height: 21vh;
    /* vertical-align: middle; */
    }
    .service-type p {
      font-size: 16px;
    }
    .service-type {
      width: 19%;
      display: inline-block;
      text-align: center;
      padding-bottom: 40px;
      border: 1px solid grey;
      border-radius: 20px;
      margin-left: 2vw;
      background-color: rgb(118,117,117);
      /* padding-bottom: 19px; */
      padding-top: 18px;
      padding-left: 19px;
      padding-right: 19px;
    }
    .leftRightArrow {
      z-index: 100000;
    }
    
    /* for more 993

    @media (min-width: 993px) and (max-width: 1100px) { 
      
      .waveAnimation {

        
        margin-bottom: 26px!important;
      }
    }*/
    @media (min-width: 1101px) and (max-width: 1334px) { 
        /* for more 993 */
      /* .waveAnimation {

      
        margin-bottom: 16px!important;
      } */
      .waveWrapper {
        /* bottom: -312px; */
        top: initial!important;
      }
    }
 
    /* @media (min-width: 1335px) and (max-width: 1490px) { 
      .waveAnimation {
        
        margin-bottom: 25px!important;
      }
    }   */

    
    @media (min-width: 1491px) and (max-width: 1920px) { 
      /* .waveAnimation {
        
        margin-bottom: 80px!important;
      } */
      .waveWrapper {
        /* top: 444px; */
        bottom: -150px;
      }
    } 


    @media (min-width: 1921px) and (max-width: 12450px) { 

      /* for more 993 
      .waveAnimation {

        margin-bottom: 80px!important;
      }*/

      .my-col-lg-6 {
        width: 49vw;
        margin-left: -20px;        
      }
      /* .ContactUS {
        margin-top: -50vh!important;
      } */
      .Services p {
        padding-bottom: 12px;
        /* margin-left: 189px!important; margin-right: 189px!important; */
      }
      /* .ContactUS {
        margin-top: -55vh!important;
        
      } */

      /* .rectangle-rounded-box .waveWrapper { */
        /*  top: 91vh!important; */
        /* top: 277px!important; */
        /* }  */
      /* .Who-We-Are:nth-of-type(2) .waveWrapper {
        /  top: 91vh!important; /
          top: 127vh!important;
        }  */
     }

     /* @media (min-width: 1100px) and (max-width: 1333px) {
      .waveAnimation {
      
        margin-bottom: 167px!important;
      }
    } */
    @media (max-width: 1334px) { 
      .my-col-lg-6 {
        width: 93vw;
        padding-left: 4vw;
        padding-right: 4vw;
      }   
      /* .ContactUS {
        margin-top: -57vh!important;
       
      } */
/* .waveAnimation { */
      /* for less 993 */
              /* margin-bottom: 101px!important; */
    /* } */
      /* .Who-We-Are .Services { */
        /* top: 130vh!important; */
        /* margin-top: -50vh!important; */
      /* } */
      
    }
      @media (max-width: 500px) { 
        /*1160*/
        
        /* .ContactUS {
          margin-top: -484px!important;
          top: 191vh!important;
        } */
        
        .Services {
          /* top: 71vh!important; */
          width: 100vw;
        }
      }
    
    
   
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }
  
    p {
      margin: 0;
    }
  
    .spacer {
      flex: 1;
    }
  
    .toolbar {
      position: fixed!important;
      z-index: 99999;
       /*position:absolute;*/
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      align-items: center;
      background-color: #1a237e;
       /*8bb0ec*/
      /* #1976d2 */
      
      color: white;
      font-weight: 600;
    }
  
    .toolbar img {
      margin: 0 16px;
    }
  
    .toolbar #twitter-logo {
      height: 40px;
      margin: 0 16px;
    }
  
    .toolbar #twitter-logo:hover {
      opacity: 0.8;
    }

    .navbar li {
      display: inline-block;
      padding-left: 20px;
    }
  
    .content {
      /* width: 100%; */
      display: flex;
      /* margin: 0px auto 32px; */
      max-width: 100%;
      /* 960px; */
      flex-direction: column;
      align-items: center;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      /* padding: 0 16px;*/
    }
  
    svg.material-icons {
      height: 24px;
      width: auto;
    }
  
    svg.material-icons:not(:last-child) {
      margin-right: 8px;
    }
  
    .card svg.material-icons path {
      fill: #888;
    }
  
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 16px;
    }
  
    .card {
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: #fafafa;
      height: 40px;
      width: 200px;
      margin: 0 8px 16px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    .card-container .card:not(:last-child) {
      margin-right: 0;
    }
  
    .card.card-small {
      height: 16px;
      width: 168px;
    }
  
    .card-container .card:not(.highlight-card) {
      cursor: pointer;
    }
  
    .card-container .card:not(.highlight-card):hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    .card-container .card:not(.highlight-card):hover .material-icons path {
      fill: rgb(105, 103, 103);
    }
  
    .card.highlight-card {
      background-color: #1976d2;
      color: white;
      font-weight: 600;
      border: none;
      width: auto;
      min-width: 30%;
      position: relative;
    }
  
    .card.card.highlight-card span {
      margin-left: 60px;
    }
  
    svg#rocket {
      width: 80px;
      position: absolute;
      left: -10px;
      top: -24px;
    }
  
    svg#rocket-smoke {
      height: calc(100vh - 95px);
      position: absolute;
      top: 10px;
      right: 180px;
      z-index: -10;
    }
  
    a,
    a:visited,
    a:hover {
      color: #1976d2;
      text-decoration: none;
    }
  
    a:hover {
      color: #125699;
    }
  
    .terminal {
      position: relative;
      width: 80%;
      max-width: 600px;
      border-radius: 6px;
      padding-top: 45px;
      margin-top: 8px;
      overflow: hidden;
      background-color: rgb(15, 15, 16);
    }
  
    .terminal::before {
      content: "\2022 \2022 \2022";
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      background: rgb(58, 58, 58);
      color: #c2c3c4;
      width: 100%;
      font-size: 2rem;
      line-height: 0;
      padding: 14px 0;
      text-indent: 4px;
    }
  
    .terminal pre {
      font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
      color: white;
      padding: 0 1rem 1rem;
      margin: 0;
    }
  
    .circle-link {
      height: 40px;
      width: 40px;
      border-radius: 40px;
      margin: 8px;
      background-color: white;
      border: 1px solid #eeeeee;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: 1s ease-out;
    }
  
    .circle-link:hover {
      transform: translateY(-0.25rem);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
  
    footer {
      margin-top: 8px;
      display: flex;
      align-items: center;
      line-height: 20px;
    }
  
    footer a {
      display: flex;
      align-items: center;
    }
  
    .github-star-badge {
      color: #24292e;
      display: flex;
      align-items: center;
      font-size: 12px;
      padding: 3px 10px;
      border: 1px solid rgba(27,31,35,.2);
      border-radius: 3px;
      background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
      margin-left: 4px;
      font-weight: 600;
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    }
  
    .github-star-badge:hover {
      background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
      border-color: rgba(27,31,35,.35);
      background-position: -.5em;
    }
  
    .github-star-badge .material-icons {
      height: 16px;
      width: 16px;
      margin-right: 4px;
    }
  
    svg#clouds {
      position: fixed;
      bottom: -160px;
      left: -230px;
      z-index: -10;
      width: 1920px;
    }
  
  
    /* Responsive Styles */
    @media screen and (max-width: 767px) {
  
      .card-container > *:not(.circle-link) ,
      .terminal {
        width: 100%;
      }
  
      .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
      }
  
      .card.highlight-card span {
        margin-left: 72px;
      }
  
      svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
      }
    }

    @media (min-width:719) {
      .Contacts {
        /* margin-top: -20vh!important; */
        top: 86vh!important;
      } 
      
    }

    @media (min-width:650) and (max-width:718) {
      .Contacts {
        margin-top: -34vh!important;
      
      }
      .waveWrapper {
        margin-top: 136px!important;
        top: 86vh;
        height: 40vh;
      } 
    }

    @media (max-width: 649) {
      .Contacts {
        margin-top: -40vh!important;
      }
      .waveWrapper {
        top: 0px;
      }
    }
  
    @media screen and (max-width: 575px) {
      svg#rocket-smoke {
        display: none;
        visibility: hidden;
      }
    }

    @keyframes move_wave {
      0% {
          transform: translateX(0) translateZ(0) scaleY(1)
      }
      50% {
          transform: translateX(-25%) translateZ(0) scaleY(0.55)
      }
      100% {
          transform: translateX(-50%) translateZ(0) scaleY(1)
      }
  }
  .waveWrapper {
      overflow: visible;

      /* display: contents; */
      left: 0;
      right: 0;
      /* bottom: 0; */
      /* bottom: -101px; */
      /* top: 0; */
      margin: auto;
      width: 100vw;
      z-index: 10000;
      /* height: 660px; */
      /* top: 444px; */
      /* margin-top: 319px; */
      /* margin-top: 330px; */
        /* margin-top: 136px!important; */
       
  }
  .waveWrapperInner {
      /* position: fixed; */
      /* position: relative; absolute */
      width: 100%;
      /* top: 145px; */
      overflow: visible;
      /* height: 100%; */
       /*100%;*/
       margin-bottom: 0px;
       /* height: 38px; */
       /* height: 54px; */
       margin-bottom: 31px;

       /* margin-bottom: 239px; */

      /* top: 0px; */
     
      /* bottom: -1px; */
/*      background-image: linear-gradient(to top, #8bb0ec 20%, #59b0ec 80%); */

/* Gradient ... */
/* background-image: linear-gradient(to top, #1a237e 20%, #59b0ec 80%); */

height: 182px;

      /* top: 237px; */

      top: 73vh; 

      margin-bottom: -109px
  }
  .bgTop {
      z-index: 150;
      opacity: 0.5;
  }
  .bgMiddle {
      z-index: 100;
      opacity: 0.75;
  }
  .bgBottom {
      z-index: 50;
  }
  .wave {
    position: absolute; /*position: relative;*/
      left: 0;

      width: 200%;
      /* height: 60%!important; */
      overflow: hidden;
      bottom: 0;
      background-repeat: repeat no-repeat;
      background-position: 0 bottom;
      transform-origin: center bottom;
      margin-top: 335px;
  }
  .waveTop {
      background-size: 50% 100px;
  }
  /* .waveWrapper:nth-of-type(3) {
    top: 349vh;
  } */
  .waveAnimation {
    height: 296px;
    /* margin-bottom: 80px!important; */
  }
  .waveAnimation .waveTop {
    animation: move-wave 3s;
     -webkit-animation: move-wave 3s;
     -webkit-animation-delay: 1s;
     animation-delay: 1s;
  }
  .waveMiddle {
      background-size: 50% 120px;
  }
  .waveAnimation .waveMiddle {
      animation: move_wave 10s linear infinite;
  }
  .waveBottom {
      background-size: 50% 100px;
  }
  .waveAnimation .waveBottom {
      animation: move_wave 15s linear infinite;
  }

  .box-bottom {
    border-bottom-right-radius: 0px!important;
    border-bottom-left-radius: 0px!important;

    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: white!important;
  }
  .Who-We-Are {
    color: #fff;
    /* margin-top: 188px; */
    /* position: relative!important; */
  }
  .Services {
    color: lightskyblue;
  }
  
  .rectangle-rounded-box h1 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    /* padding-top: 20vh; */
    padding-top: 8vh;
    text-align: center;

    padding-left: 1em;
    padding-right: 1em;

    position: absolute;
    top: 83px;
    display: block;
    right: 0;
    left: 0;
    bottom: 80vh;
  }
  .rectangle-rounded-box h3 {
    /* padding-top: 3vh; */
    padding-top: 38vh;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }
  .rectangle-rounded-box .form-control, .rectangle-rounded-box h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rectangle-rounded-box {
    height: 73vh;
    color: #8bb0ec;
    background-color: #1a237e;
    /* #898989; */
     /* #125699; */
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    justify-content: center;
    display: flex;
    align-content: center;;
    top: 83px;
  }


  /* animation of keyframes */
  .test.hiddenServiceItem {

    animation-iteration-count: 1;
    animation: fadeout 1.5s;
    -moz-animation: fadeout 1.5s; /* Firefox */
    -webkit-animation: fadeout 1.5s; /* Safari and Chrome */
    -o-animation: fadeout 1.5s; /* Opera */
    z-index: 9006!important;
    /* display: none; */
  }
  .test {
    display: none;
    /* position: absolute; */
    margin-left: 5vw!important;
    margin-top: 34px;
    /* margin-bottom: 330px; */
  }
  .test.uxdesign.active, .test.webdevelop.active, .test.appdev.active {
    display: block;
    /* visibility: visible!important; */
  }

  .test.webdevelop.active {
  z-index: 9007;
  }
  .test.appdev.active {
    z-index: 9007;
  }
  .test.uxdesign.active {
    z-index: 9007;
  }


  .test.webdevelop:not(.active) {
    z-index: 9008;
    }
    .test.appdev:not(.active) {
      z-index: 9008;
    }
    .test.uxdesign:not(.active) {
      z-index: 9008;
    }
  
    
  

  .hidden {
    display: none;
  }
  
  .test.active {
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
    /* z-index: 9000; */
  }
  
/* .test:not(.active) { 
  z-index: 9005;
}   */

@keyframes fadein {
    from {
        opacity:0;
        /* background-color:  rgb(255,255,255); */

    }
    to {
        opacity:1;
        /* background-color:  rgb(118,117,117); */
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/*fade out */

@keyframes fadeout {
  from {
      opacity:1;
       /* background-color:  rgb(118,117,117); */
  }
  to {
      opacity:0;
      /* background-color:  rgb(255,255,255); */
  }
}
@-moz-keyframes fadeout { /* Firefox */
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}
@-o-keyframes fadeout { /* Opera */
  from {
      opacity:1;
  }
  to {
      opacity: 0;
  }
}